<nav style="margin: auto" class="navbar navbar-expand-lg bg-dark">
  <a style="color: white" class="navbar-brand" href="#">GEETARTH HOSPITAL</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
         <li class="nav-item">
        <a
          style="color: white"
          class="nav-link active"
          aria-current="page"
          href="javascript:void(0);"
          routerLink="/appointmentlist"
          >
          Back
          </a
        >
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
  <h2 class="text-center">Add New Appointment</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        placeholder="enter name here"
        [(ngModel)]="appointment.name"
        [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="form-group">
        <label>age</label>
        <input
          type="text"
          id="age"
          class="form-control"
          placeholder="enter age here"
          [(ngModel)]="appointment.age"
          [ngModelOptions]="{standalone: true}"
        />
      </div>
      <div class="form-group">
        <label>symptoms</label>
        <input
          type="text"
          id="symptoms"
          class="form-control"
          placeholder="enter symptoms here"
          [(ngModel)]="appointment.symptoms"
          [ngModelOptions]="{standalone: true}"
        />
      </div>
      <div class="form-group">
        <label>number</label>
        <input
          type="text"
          id="number"
          class="form-control"
          placeholder="enter mobile number here"
          [(ngModel)]="appointment.number"
          [ngModelOptions]="{standalone: true}"
        />
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div> 
